<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=True %}
</head>
<body>
<header>
    {% block header %}
    <h1>Объявления</h1>
    {% endblock %}
</header>
<nav>
    <a href="{% url 'bboard:index' %}">Главная</a>
    <a href="{% url 'bboard:add' %}">Добавить</a>
    {% for rubric in rubrics %}
    <a href="{% url 'bboard:by_rubric' rubric.pk %}">{{ rubric.name }}</a>
    {% endfor %}
    <a href="{% url 'bboard:search' %}">Поиск</a>
</nav>
<section>
    {% block content %}
    {% endblock %}
</section>
</body>
</html>