{% extends "layout/basic.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %} Вход {% endblock %}

{% block content %}
<h2>Вход</h2>
{% if user.is_authenticated %}
<p>Вы уже выполнили вход.</p>
{% else %}
<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form size='small' %}
    {% buttons submit='Войти' button_class='btn-primary' %}{% endbuttons %}
<!--    <input type="hidden" name="next" value="{{ next }}">-->
<!--    <input type="submit" value="Войти">-->
</form>
{% endif %}
{% endblock %}