header h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 50px 30px;
    background: url("css/doska1.jpg") left / auto 150% no-repeat;
}
nav {
    font-size: 16pt;
    width: 150px;
    float: left;
}
nav a {
    display: block;
    margin: 10px 5px;
}
section {
    margin-top: 50px;
    margin-left: 250px;
}